/resources/public/js/
/client/cabal.sandbox.config
/client/.cabal-sandbox/
/client/dist/
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/client/src/weight/parsetab.py
/client/src/weight/parser.out
